body {
  background: aliceblue;
  text-align: -webkit-center;
  margin: 0;
  padding: 0;
  margin-top: 6%;
}

.formulario {
  text-align: center;
  border: 1px solid;
  border-radius: 3%;
  width: 30%;
  padding: 1%;
}

.formatado {
  width: -webkit-fill-available;
  padding-left: 15%;
  width: 77%;
  background: lightgray;
}

.formatado2 {
  padding: 1%;
  width: 190%;
  background: lightgray;
}

.botao {
  background: darkgray;
}

form {
  display: inline-grid;
  justify-items: center;
  text-align-last: center;
}

.Selo li a {
  display: block;
}

.Selo li {
  display: block;
  margin-top: 1%;
}

img {
  display: block;
  width: 3%;
}
